@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#__next {
  height: 100%;
  accent-color: theme("colors.blue.600");
}


.small {
  box-shadow:0px 4px 6px -1px rgba(0,0,0,0.1)
}
.medium {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)
}
.large {
  box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25) 
}